<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/layout.css" rel="stylesheet" />
    <link href="~/Content/css/form.css" rel="stylesheet" />
    <link href="~/Content/css/layout1.css" rel="stylesheet" />
    <link href="~/Content/css/hizmet-ekle.css" rel="stylesheet" />
    <link href="~/Content/css/odeme-ayarlari.css" rel="stylesheet" />

</head>

<body class="body">

    <div class="container bosluk">
        <div class="col-md-8 col-md offset-2 header">
            <div class="text-center" style="padding-top:15px; padding-bottom:20px;">
                <h2>   Kuaför Randevu Sistemi </h2>
                <p>Kullanıcı Adı</p>
            </div>

            <div class="row">

                @*<div class="col-md-6">
            <button class="button-mor" type="button"> Sosyal Medya Görseli </button>
        </div>*@

                <div id="pencerekodu" class="col-md-6">

                    <label for="pencere1" class="button-mor">Sosyal Medya Görseli</label>

                    <input type="checkbox" class="Pencereac1" id="pencere1" name="pencere1">

                    <label class="pencere1 scroll">

                        <a href="/Kuafor/HizmetYonetimi" style="position:relative; left:430px;" aria-label="Close Account Info Modal Box">&times</a>

                        <div class="input-container">
                            <img class="sosyal-medya" src="~/Content/img/sosyalMedya/sosyal-medya.jpg" />
                        </div>
                    </label>
                </div>


                @*<div class="col-md-6">
            <button class="button-mor" type="button"> Müşteri Randevu Linki </button>
        </div>*@

                <div id="pencerekodu" class="col-md-6">

                    <label for="pencere2" class="button-mor">Müşteri Randevu Linki</label>

                    <input type="checkbox" class="Pencereac2" id="pencere2" name="pencere">

                    <label class="pencere2">
                        Müşteri Randevu Linki
                        <hr />

                        <p style="text-align:center;">
                            https://localhost:44348/Kuafor/Index
                        </p>

                        <label for="pencere2" class="button-mavi" style="position:relative; left:165px;">Kapat</label>
                    </label>
                </div>

            </div>

            @*header*@
            <div >
                @*<nav class="navbar navbar-light bg-light justify-content-center">
                        <form class="form-inline">
                            <a class="button" href="/Home/Index" role="button">Tanıtım</a>
                            <a class="button" href="/Home/KayitOl" role="button">Kayıt Ol</a>
                            <button class="button" type="button">Giriş Yap</button>
                        </form>
                    </nav>*@
                <ul class="nav justify-content-center">

                    <li class="nav-item">
                        <a class="nav-link button1" href="/Kuafor/HizmetYonetimi">Hizmet Yönetimi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link button1" href="/Kuafor/OdemeAyarlari">Ödeme Ayarları</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link button1" href="#">Profil</a>
                    </li>

                </ul>

            </div>

            <hr />

            @*body*@
            <div>

                <div>
                    @RenderBody()
                </div>

            </div>

            <br />
            <br />

        </div>

        <br />

        @*footer*@
        <div class="row" style="padding-top:20px;">
            <div class="col-md-8 col-md offset-2">
                <div class="text-center">
                    <span style="color:white;">
                        <p>Copyright &copy; Kuaför Randevu Sistemi
                    </span>
                </div>
            </div>

        </div>


    </div>


    <script src="~/Scripts/js/jquery-3.5.1.min.js"></script>
    <script src="~/Scripts/umd/popper.min.js"></script>
    <script src="~/Scripts/js/bootstrap.min.js"></script>

    @RenderSection("scripts", required: false)


</body>
</html>
