
@{
    ViewBag.Title = "OnOdemeIsteme";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div>

    <ul class="nav justify-content-center">

        <li class="nav-item">
            <a class="nav-link button-odeme" href="/Kuafor/OnOdemeIsteme">Ön Ödeme İsteme</a>
        </li>
        <li class="nav-item">
            <a class="nav-link button-odeme" href="/Kuafor/OnOdemeTalepEt">Ön Ödeme Talep Et</a>
        </li>

    </ul>

</div>



