.button-mor {
    width: 250px;
    height: 25px;
    color: white;
    background-color: purple;
    border: #555555; /*black*/
    transition-duration: 0.4s;
    margin-bottom: 40px;
    margin-left: 40px;
    border-radius: 4px;
    text-align:center
}

.button1 {
    background-color: white;
    color: black;
    border: #555555; /*black*/
    transition-duration: 0.4s;
    padding: 13px 75px;
    border-radius: 4px;
}

    .button1:hover {
        background-color: #4CAF50; /* Green */
        color: white;
    }

    .button1:focus {
        background-color: #4CAF50; /* Green */
        color: white;
    }

.button-kimizi {
    background-color: red;
    color: white;
    padding: 13px 20px;
    border: none;
    transition-duration: 0.4s;
    margin-top: 20px;
    border-radius: 4px;
}


.pencere1 {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 500px;
    height: 800px;
    background: #fff;
    box-shadow: 0 0 6px 2px rgba(0,0,0,0.4);
    opacity: 0;
    transition: opacity 0.4s ease-out;
    z-index: -1;
    padding: 10px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin: -150px 0 0 -200px;
}

.Pencereac1 {
    width: 1px;
    height: 1px;
    visibility: hidden;
}

    .Pencereac1:checked + .pencere1 {
        top: 32%;
        left: 47%;
        display: block;
        z-index: 9;
        opacity: 1;
    }

.pencere2 {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 500px;
    height: 200px;
    background: #fff;
    box-shadow: 0 0 6px 2px rgba(0,0,0,0.4);
    opacity: 0;
    transition: opacity 0.4s ease-out;
    z-index: -1;
    padding: 10px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin: -150px 0 0 -200px;
}

.Pencereac2 {
    width: 1px;
    height: 1px;
    visibility: hidden;
}

    .Pencereac2:checked + .pencere2 {
        top: 32%;
        left: 47%;
        display: block;
        z-index: 9;
        opacity: 1;
    }

.sosyal-medya {
    width: 500px;
    height: 800px;
    padding-right: 20px;
    margin-bottom: 40px;
}

.scroll {
    height: 600px;
    overflow-x: hidden;
    overflow-y: scroll;
}

/*.button-mavi {
    background-color: Highlight;
    color: white;
    padding: 13px 55px;
    border: none;
    transition-duration: 0.4s;
    margin-top: 20px;
    border-radius: 4px;

    cursor: pointer;
    display: inline-block;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}*/
